<div class="modal-header">
    <h4 class="modal-title">Enviando mensagem</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #formProduto=ngForm novalidate>

      <label for="nome">Para</label>
      <input type="textarea" [(ngModel)]="usuario.nome" name="nome" id="nome"
        class="form-control" required>

      <label for="mensagem">Mensagem</label>
      <input type="textarea" [(ngModel)]="mensagem" name="mensagem" id="mensagem"
        class="form-control" required>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-info"
    (click)="enviar()" [disabled]="!formProduto.valid">
      Enviar
    </button>
  </div>
