<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Excluindo {{segmento}}</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <b>Você realmente deseja remover este(a) {{segmento}}?</b>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel click')">Cancelar</button>
  <button type="button" class="btn btn-danger" (click)="excluir(segmento[0],id)">Confirmar</button>
</div>
