<header>
  <nav class="navbar navbar-light bg-info">
      <a class="navbar-brand text-white mouse-pointer">
        <h3>
          GerênciaOS
        </h3>
      </a>
      <form class="form-inline">
          <span class="navbar-text text-white">
            <h5>
              {{login.nome.split(' ')[0]}}
            </h5>
          </span>
          &nbsp;
          &nbsp;
          <div class="row">
            <div class="col">
              <div ngbDropdown display="dynamic" class="d-inline-block">
                <b><a class="text-white mouse-pointer" id="dropdownBasic1" ngbDropdownToggle></a></b>

                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border border-info rounded">
                  <h5 *ngIf="login.admin" ngbDropdownItem class="text-info"> admin: {{login.nome.split(' ')[0]}}</h5>
                  <h5 *ngIf="!login.admin" ngbDropDownItem class="text-info"> Usuário: {{login.nome.split(' ')[0]}}</h5>

                  <button ngbDropdownItem (click)="modalPessoa(login.id)">Minha conta</button>
                  <button ngbDropdownItem (click)="logout()">Logout</button>
                </div>
              </div>
            </div>
          </div>
      </form>
  </nav>
</header>


<body class="container">
  <br><br>

  <!--Área do usuário-->
  <div *ngIf="!login.admin">
    <!--Formulário de busca-->
    <form class="form-row">
      <div class="form-group col-9">
        <input type="text" name="busca" [(ngModel)]="busca" class="form-control">
      </div>
      <div class="form-group col-3">
        <button class="btn btn-outline-info">Buscar</button>
    </div>
    </form>

    <br><br>

    <div>
      <!--Listagem das ordens de serviço-->
      <div *ngFor="let ordem of (ordens | async)">
        <div class="card">
          <div class="card-header">
            <span *ngFor="let pessoa of (pessoas | async)">
              <span *ngIf="pessoa.id == ordem.usuarioId">
                <b>{{pessoa.nome}}</b>
              </span>
            </span>

            <span *ngIf="!ordem.resposta">
              <span class="float-right">
                <a class="text-info mouse-pointer" (click)="modalOS(ordem.id, login.id)"
                ngbTooltip="Editar OS">
                  <i class="material-icons">edit</i>
                </a>

                <a class="text-danger mouse-pointer" (click)="modalExcluir('ordem de serviço', ordem.id)"
                ngbTooltip="Excluir OS">
                  <i class="material-icons">close</i>
                </a>
              </span>
            </span>

            <span *ngIf="ordem.resposta" class="float-right text-danger">
              <b>Solicitação já foi atendida</b>
            </span>

          </div>
          <div class="card-body">
            <p><b>Data: </b>{{ordem.data.seconds * 1000 | date: 'dd/MM/yyyy'}}</p>
            <p><b>Departamento origem: </b>{{ordem.dep_Origem}}</p>
            <p><b>Departamento destino: </b>{{ordem.dep_Destino}}</p>
            <p><b>Serviço: </b>{{ordem.servico}}</p>
            <p *ngIf="ordem.resposta"><b>Resposta: </b>{{ordem.resposta}}</p>
          </div>
        </div>

        <br>

      </div>


      <div>
        <button class="btn btn-info floating-button align-middle" (click)="modalOS('', login.id)">
          <span><i class="material-icons align-middle">add</i></span>
          Novo
        </button>
      </div>

    </div>
  </div>



  <!--Área do administrador-->
  <div *ngIf="login.admin">
    <ngb-tabset type="pills" justify="center" class="bg-info">

      <!-- SESSÃO DE ORDENS -->
      <ngb-tab title="Ordens de serviço">
        <ng-template ngbTabContent>
          <br>

          <form class="form-row">
              <div class="form-group col-9">
                <input type="text" name="busca" [(ngModel)]="busca" class="form-control">
              </div>
              <div class="form-group col-3">
                <button class="btn btn-outline-info">Buscar</button>
              </div>
          </form>

          <br>

          <div>
            <div *ngFor="let ordem of (ordens | async)" >
              <div class="card">
                <div class="card-header">
                  <span *ngFor="let pessoa of (pessoas | async)">
                    <span *ngIf="pessoa.id == ordem.usuarioId">
                      <b>{{pessoa.nome}}</b>
                    </span>
                  </span>

                  <span class="float-right">
                    <a class="text-info mouse-pointer" (click)="modalResposta(ordem.id)" *ngIf="!ordem.resposta"
                    ngbTooltip="Marcar como atentida">
                      <i class="material-icons">check_circle_outline</i>
                    </a>

                    <a class="text-success mouse-pointer" (click)="modalMensagem(ordem.usuarioId)"
                    ngbTooltip="Enviar WhatsApp">
                      <i class="material-icons">textsms</i>
                    </a>

                    <a class="text-danger mouse-pointer" (click)="modalExcluir('ordem de serviço',ordem.id)"
                    ngbTooltip="Excluir OS">
                        <i class="material-icons">close</i>
                    </a>
                  </span>

                </div>
                <div class="card-body">
                  <p><b>Data: </b>{{ordem.data.seconds * 1000 | date:'dd/MM/yyyy'}}</p>
                  <p><b>Departamento origem: </b>{{ordem.dep_Origem}}</p>
                  <p><b>Departamento destino: </b>{{ordem.dep_Destino}}</p>
                  <p><b>Serviço: </b>{{ordem.servico}}</p>
                  <p *ngIf="ordem.resposta"><b>Resposta: </b>{{ordem.resposta}}</p>
                </div>
              </div>

              <br>

            </div>
          </div>

        </ng-template>
      </ngb-tab>

      <!--SESSÃO DE USUÁRIOS-->
      <ngb-tab title="Usuários">
        <ng-template ngbTabContent>
          <br>

          <!--Formulário de busca-->
          <form    class="form-row">
              <div class="form-group col-9">
                <input type="text" name="busca" [(ngModel)]="busca" class="form-control">
              </div>
              <div class="form-group col-3">
                <button class="btn btn-outline-info">Buscar</button>
              </div>
          </form>

          <br>

          <div>
            <div *ngFor="let pessoa of (pessoas | async)">
              <div class="card">
                <div class="card-header">
                  <span><b>{{pessoa.nome}}</b></span>

                  <span class="float-right">
                    <a class="text-info mouse-pointer" (click)="modalPessoa(pessoa.id)"
                    ngbTooltip="Editar usuário">
                      <i class="material-icons">edit</i>
                    </a>

                    <a class="text-danger mouse-pointer" (click)="modalExcluir('usuário', pessoa.id)"
                    ngbTooltip="Excluir usuário">
                        <i class="material-icons">close</i>
                    </a>
                  </span>

                </div>
                <div class="card-body">
                  <p><b>Email: </b>{{pessoa.email}}</p>
                  <p><b>Departamento: </b>{{pessoa.departamento}}</p>
                  <p><b>Telefone: </b>{{pessoa.telefone}}</p>
                </div>
              </div>

              <br>

            </div>
          </div>


          <div>
            <button class="btn btn-info floating-button align-middle" (click)="modalPessoa()">
              <span><i class="material-icons align-middle">add</i></span>
              Novo
            </button>
          </div>

        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </div>

</body>
